<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Stellance</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />
</head>

<body style="
      overflow-x: hidden;
      font-family: 'Inter', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
      box-sizing: border-box;
    ">
    <div style="
        max-width: 800px;
        margin: 0 auto;
        background: #ffffff;
        padding: 40px 12px 24px;
      ">
        <div style="width: 100%; margin: 0 auto">
            <div style="width: 100%; position: relative">
                <img src="https://res.cloudinary.com/kodenigga/image/upload/v1750181599/stellance-email-resources/banners/welcome-banner_c7jbib.png"
                    alt="Stellance Banner" style="width: 100%; height: auto; object-fit: contain" />
            </div>
        </div>

        <div style="
            font-size: 16px;
            line-height: 28px;
            color: #1e1e1ee3;
            width: 95%;
            margin-top: 40px;
            margin-bottom: 40px;
          ">
            <p style="font-weight: 500;">Hi,</p>
            <p style="font-weight: 500;">Welcome to Stellance, your new seamless invoicing friend!</p>
            <p style="font-weight: 500;">
                Please verify your account below to fully activate your account.
            </p>
        </div>

        <div>
            <a href="{{.URL}}" style="
              display: block;
              width: fit-content;
              text-decoration: none;
              background: #18234f;
              color: white;
              padding: 14px 40px;
              font-weight: 600;
              font-size: 14px;
              border-radius: 24px;
              margin: 0px auto;
              text-align: center;
              font-weight: 500;
            ">
                Verify Email
            </a>
        </div>

        <div style="
            font-size: 16px;
            line-height: 28px;
            color: #1e1e1ee3;
            width: 95%;
            margin-top: 40px;
            padding-bottom: 40px;
          ">
            <p style="font-weight: 500;">Looking forward to supporting your business.</p>
            <div>
                <p style="margin-bottom: 0px; font-weight: 500;">Best regards,</p>
                <p style="margin-top: 0px; font-weight: 500;">The Stellance Team.</p>
            </div>
        </div>
    </div>

    <div style="
          font-size: 14px;
          text-align: center;
          color: #787878;
          margin-top: 36px;
          margin-bottom: 40px;
          max-width: 380px;
          margin: auto;
        ">
        <p>
            This is an automated email, please forward queries to
            <a href="mailto:support@usestellance.com">support@usestellance.com</a>
        </p>
        <div>
            <a href="https://x.com/StellanceHQ" style="
              overflow: hidden;
              display: inline-block;
              margin: 18px 10px;
              padding: 5px;
              height: 28px;
              width: 28px;
            ">
                <img src="https://res.cloudinary.com/kodenigga/image/upload/v1750183127/stellance-email-resources/socials/devicon_twitter_nt7qdn.png"
                    alt="X (Twitter)" />
            </a>
        </div>

        <p>Powered by Stellance</p>
    </div>
    </div>
</body>

</html>